.CalculatorDisplay {
  position: relative;
  width: calc(100% - 40px);
  margin: 0 20px;
  height: 20vh;
  background-color: #d1e3d8;
  border-bottom: 5px solid rgb(146, 146, 146);
  border-left: 5px solid #606060;
  border-top: 5px solid #3f4042;
  border-right: 5px solid #606060;
  box-sizing: border-box;
}

.CalculatorDisplayContent {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

@media only screen and (min-width: 600px) {
  .CalculatorDisplay {
    height: 100px;
  }
}